{% extends 'basic.html'%}
{% block title %}Checkout Page {% endblock %}
{% block body %}
<div class="container pt-5">
    <div class="col pt-4">
        <h2 >Your Cart items</h2>
        <div>
            <ul class="list-group" id="items"></ul>
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"><h5 style="color: white;">The total bill: <span id="totalPrice" class="mx-3"></span></h5></li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="col my-4">
      <h2>Step 2-Enter Address & Other Details: </h2>
      <form method="POST" action="/checkout">{%csrf_token%}
        <input type="hidden" name="itemsJson" id="itemsJson">
        <input type="hidden" name="amount" id="amount">
          <div class="row my-4">
              <div class="form-group col-md-6">
                  
                  <input type="name"  name="name" class="form-control" id="inputname" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                  
                  <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
          </div>
          <div class="form-group my-4">
             
              <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="row my-4">
              <div class="form-group col-md-6">
                  
                  <input type="text" name="city" class="form-control" id="inputCity" placeholder="City">
              </div>
              <div class="form-group col-md-4">
                 
                  <input type="text" name="state" class="form-control" id="inputAddress2" placeholder="Enter State">
              </div>
              <div class="form-group col-md-2">
                 
                  <input type="text" name="zip_code" class="form-control" id="inputZip" placeholder="enter zip">
              </div>
          </div>
          <div class="form-group my-4">
            
              <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="Mobile no.">
          </div>
          <button type="submit" class="btn btn-primary">Place Order</button>
      </form>
        
    </div>
</div>
{% endblock %}


{% block js%}
<script>
  if(localStorage.getItem('cart')==null){
    var cart={};
  }
  else{
    cart=JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }
  function updateCart(cart){
    var sum=0;
    for( var items in cart){
      sum=sum+cart[items][0];
    }
    document.getElementById('cart').innerHTML=sum;
  }
  var sum=0;
  var totalPrice=0;
  for(var item in cart){
     let name=cart[item][1];
     let qty=cart[item][0];
     sum=sum+qty;
     var itemPrice=cart[item][2];
     totalPrice=totalPrice+(qty*itemPrice);
     mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    `+name+`
                    <span class="btn btn-outline-secondary rounded-pill">`+itemPrice+`</span>
                </li>`
      $('#items').append(mystr);
      document.getElementById('totalPrice').innerHTML=totalPrice;
      $('#itemsJson').val(JSON.stringify(cart));
      $('#amount').val(totalPrice);
      {% if thank %}
      alert('Thanks for ordering with us. Your order id is {{id}}');
      localStorage.clear();
      document.location='/';
      {% endif%}
  }
</script>
{% endblock %}